<h1>
  Hello {{name}} {{course}} group!
</h1>
<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active">
        Home
      </a>
    </li>
    <li>
      <a routerLink="/lectures" routerLinkActive="active">
        Lectures
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
