<pre>
  {{lecture | json}}
</pre>
<form (submit)="createLecture()" name="createLectureForm" onsubmit="return false;">
  <fieldset>
    <legend>Create Lecture</legend>
    <p>
      <label>
        Title *
      </label>
      <input type="text" name="title" [(ngModel)]="lecture.title" required>
    </p>
    <p>
      <label>
        Number *
      </label>
      <input type="number" name="number" [(ngModel)]="lecture.number" required>
    </p>
    <p>
      <label>
        Description *
      </label>
      <textarea name="description" [(ngModel)]="lecture.description"></textarea>
    </p>
    <p>
      <label>
        Author *
      </label>
      <input type="text" name="author" [(ngModel)]="lecture.author" required>
    </p>
  </fieldset>
  <button type="reset" (click)="onCancel()">
    Cancel
  </button>
  <button type="submit">
    Save
  </button>
</form>
